@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: "JetBrains Mono", sans-serif;
	@apply bg-stone-900 text-stone-100 text-sm;
}

a,
button,
input {
	@apply transition-all duration-200 ease-in-out;
}

a:hover {
	text-decoration: none;
}

::selection {
	@apply bg-stone-700;
}

.child {
	@apply ml-4;
}

.text-true {
	@apply text-green-400;
}
.text-false {
	@apply text-red-400;
}

.sidebar {
	@apply h-screen md:h-full whitespace-nowrap overflow-hidden bg-stone-900 md:bg-stone-950 border-r border-r-stone-800 md:border-0 transition-all;
}

.sidebar-opened {
	@apply w-2/3 sm:w-2/5 md:w-80 border-0 px-4 py-3 overflow-y-auto;
}

.sidebar-closed {
	@apply w-0;
}

.slide-up {
	animation: slide-up 0.2s ease-in-out;
}

.slide-down {
	animation: slide-down 0.2s ease-in-out;
}

@keyframes slide-up {
	0% {
		transform: translateY(24px);
		opacity: 0;
		display: none;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
		display: block;
	}
}

@keyframes slide-down {
	0% {
		opacity: 1;
		display: block;
	}
	100% {
		transform: translateY(24px);
		opacity: 0;
		display: none;
	}
}
